body {
    background-image: url(food.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}

.App {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #dcedf7;
    border-radius: 20px;
    padding: 15px;
}

.button-add {
    font-family: "Montserrat", sans-serif;
    background-color: #77cf40;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 17px;    
}

.button-delete {
    font-family: "Montserrat", sans-serif;
    background: none;
    border: 0;
    color: red;
    font-weight: bolder;
}

.whole-plan {
    width: 70%;
    height: 100vh;
}

.myInput {
    width: 70%;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-top: 30px;
}

textarea {
    font-family: "Montserrat", sans-serif;
    display: block;
    border: 1px solid #ddd;
    margin-top: 30px;
    width: 70%;
    height: 200px;
    border-radius: 20px;
}

.selected {
    background-color: #fad106;
}

.default {
    background-color: #dcedf7;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 25px;
}

.title {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 18px;
}

.field {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 15px;
}